/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5dc2ef;
  --ifm-color-primary-dark: #4bb3d2;
  --ifm-color-primary-darker: #3da3b6;
  --ifm-color-primary-darkest: #339199;
  --ifm-color-primary-light: #63c3ff;
  --ifm-color-primary-lighter: #92f4ff;
  --ifm-color-primary-lightest: #c1fff4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #63c3ff;
  --ifm-color-primary-dark: #5dc2ef;
  --ifm-color-primary-darker: #4bb3d2;
  --ifm-color-primary-darkest: #3da3b6;
  --ifm-color-primary-light: #92f4ff;
  --ifm-color-primary-lighter: #c1fff4;
  --ifm-color-primary-lightest: #f0fff8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.openapi-tabs__code-container {
  display: none !important;
}